<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/cadastroCss/cadastroAdm.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
</head>
<body>
    <div th:insert=" ~{fragmentos/header :: header}" class="pai-header"></div>

    <div class="container">
        <form action="" method="post">
            <h3>Cadastro</h3>

            <div class="container-inputs">

                <label for="">Nome</label>
                <input type="text" name="name">

                <label for="">CPF</label>
                <input type="text" name="cpf">

                <label for="">E-mail</label>
                <input type="email" name="email">

                <label for="">Senha</label>
                <input type="password">

                <label for="">Confirmar Senha</label>
                <input type="password" name="password">

            </div>
            <button type="submit" name="submit">Enviar</button>
        </form>
    </div>
</body>
</html>