<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/cadastroCss/cadastroProfessor.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
</head>

<body>
    <div th:insert=" ~{fragmentos/header :: header}" class="pai-header"></div>

    <div class="container">
        <form action="cadastrar-professor" method="post">

            
            <div class="content">
                
                <h3>Cadastro Do Professor</h3>

                <div class="container-inputs">

                    <input type="text" name="professor" placeholder="Seu Nome" required>
                    <input type="text" name="cpf" placeholder="CPF" required>
                    <input type="date" name="tel" placeholder="Telefone"required>
                    <select id="linguagem" name="disciplina">
                        <option value="turma" style="color: rgb(196, 196, 196);">Disciplina</option>
                        <option value="ingles">Inglês</option>
                        <option value="frances">Francês</option>
                        <option value="espanhol">Espanhol</option>
                    </select>
                    <input type="text" name="turma" placeholder="Turma">
                    <input type="password" placeholder="Sua Senha">
                    <input type="password" name="senha" placeholder="Confirme sua Senha" style="width: 95%;">
                    
                </div>
                <button type="submit" name="submit">Enviar</button>
            </div>

        </form>
    </div>
</body>

</html>