<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/cadastroCss/precadAdm.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
</head>
<body>

    <div th:insert=" ~{fragmentos/header :: header}" class="pai-header"></div>

    <div class="container">
        <form action="preCad" method="post">
            <div class="overlay"></div>
            <h3>Cadastro De Adm</h3>

            <div class="container-inputs">

                <input type="text" name="cpf" placeholder="Seu CPF">

                <input type="password" name="senha" placeholder="Sua Senha">

            </div>
            <button type="submit" name="submit">Enviar</button>
        </form>
    </div>

</body>
</html>