<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/internaCss/internaProfessor.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
</head>

<body>
    <div th:insert=" ~{fragmentos/header :: header}" class="pai-header"></div>

    <div class="container">

        <h1>Olá Professor <h1 class="nomeUsuario" th:text="${nomeUsuario}"></h1>
        </h1>

        <form action="pesquisarAluno" method="get">
            <div class="input-group mb-3">
                <label for="disciplina">Nome da Disciplina:</label>
                <input type="text" id="disciplina" name="disciplina">
                <button type="submit">Pesquisar</button>
            </div>
        </form>

        <table class="table">
            <tr class="title">
                <th><span>RA do Aluno</span></th>
                <th><span>Nome do Aluno</span></th>
                <th><span>Disciplina</span></th>
                <th><span>Turma</span></th>
            </tr>
            <!-- Itera sobre a lista de alunos -->
            <tr th:each="aluno : ${alunos}">
                <td><span th:text="${aluno.ra}"></span></td>
                <td><span th:text="${aluno.aluno}"></span></td>
                <td><span th:text="${aluno.disciplina}"></span></td>
                <td><span th:text="${aluno.turma}"></span></td>
            </tr>
        </table>

    </div>
</body>

</html>