<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/internaCss/internaProfessor.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
</head>

<body>
    <div th:insert=" ~{fragmentos/header :: header}" class="pai-header"></div>

    <div class="container">

        <h1>Olá Professor <h1 class="nomeUsuario" th:text="${nomeUsuario}"></h1>
        </h1>

        <form action="pesquisarAlunos" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome do Aluno" name="nome" required>
                <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
            </div>
        </form>
        <!-- <form action="pesquisarAlunos" method="post">
            <tbody>
                <tr th:each="aluno : ${alunos}">
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.disciplina}"></td>
                </tr>
            </tbody> -->
        </form>
        <table class="table">
            <tr>
                <th>RA do Aluno |</th>
                <th>Nome do Aluno</th>
            </tr>
            <!-- Itera sobre a lista de alunos -->
            <tr th:each="aluno : ${alunos}">
                <td><span th:text="${aluno.ra}"></span></td>
                <td><span th:text="${aluno.aluno}"></span></td>
            </tr>
        </table>

    </div>
</body>

</html>